<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I love BEM</title>
  <link rel="stylesheet" href="css/app.css?v={{timestamp}}">
  {{>favicon siteUrl="http://localhost:3000"}}
</head>
<body>
  <div class="main">
    <div class="container">
      <header class="site-header">
        <a href="" class="logo sprite sprite__logo">
          <img src="" alt="" class="logo__img">
        </a>
      </header>

      <main class="content">
        <h1 class="site-title">
          Hello<br/><span>we are online clinic</span>
        </h1>

        <section class="section">
          <h2 class="section__title">About US</h2>
          <p class="section__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </section>

        <ul class="site-list">
          <li class="site-list__item">
            <div class="site-list__icon">
              <i class="icon sprite sprite__icon-1"></i>
            </div>
            <p class="site-list__text">
              Lorem ipsum dolor sit amet
            </p>
          </li>
          <li class="site-list__item">
            <div class="site-list__icon site-list__icon--2n">
              <i class="icon sprite sprite__icon-2"></i>
            </div>
            <p class="site-list__text">
              Lorem ipsum dolor sit amet
            </p>
          </li>
          <li class="site-list__item">
            <div class="site-list__icon">
              <i class="icon sprite sprite__icon-3"></i>
            </div>
            <p class="site-list__text">
              Lorem ipsum dolor sit amet
            </p>
          </li>
        </ul>
      </main>
    </div>
  </div>
</body>
</html>
